!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript"
            src="/js/Bootstrapper.js")
    script(type="text/javascript"
            src="/js/loginRegisterEvents.js")
    script(type="text/javascript"
            src="/js/mainPageEvents.js")
    script(type="text/javascript"
            src="/js/loginRegisterSockets.js")
    script(type="text/javascript"
                src="/js/mainPageSockets.js")
    script(type="text/javascript"
            src="socket.io/socket.io.js")
    script(type="text/javascript"
            src="http://code.jquery.com/jquery-1.8.0.min.js")
  body!= body
